<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/prueba_hibernate</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.connection.password">counter1.5</property>
        <property name="connection.pool_size">1</property>
        <property name="hibernate.current_session_context_class">thread</property>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQL5Dialect</property>
        <property name="show_sql">true</property>
        <property name="hbm2ddl.auto">update</property>
        <mapping package="Persistencia.MapeoHibernate.Bateria.hbm.xml" resource="Persistencia/MapeoHibernate/Bateria.hbm.xml"/>
        <mapping package="Persistencia.MapeoHibernate.Marca.hbm.xml" resource="Persistencia/MapeoHibernate/Marca.hbm.xml"/>
        <mapping package="Persistencia.MapeoHibernate.Cliente.hbm.xml" resource="Persistencia/MapeoHibernate/Cliente.hbm.xml"/>
        <mapping package="Persistencia.MapeoHibernate.Modelo.hbm.xml" resource="Persistencia/MapeoHibernate/Modelo.hbm.xml"/>
        <mapping package="Persistencia.MapeoHibernate.Vehiculo.hbm.xml" resource="Persistencia/MapeoHibernate/Vehiculo.hbm.xml"/>
        <mapping package="Persistencia.MapeoHibernate.Venta.hbm.xml" resource="Persistencia/MapeoHibernate/Venta.hbm.xml"/>
    </session-factory>
</hibernate-configuration>
